Repository wise-multimodal-rag/wise-prompt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mkdocs, pages, lint-openapi, render-html, deploy-api-docs, check-trigger

test-mkdocs:
  image: python:3.9.13-slim
  stage: build-and-push-mkdocs
  before_script:
  - pip install -r docs/requirements.txt
  script:
  - cd docs
  - mkdocs build --verbose --site-dir test

pages:
  image: python:3.9.17-buster
  stage: build-and-push-mkdocs
  before_script:
  - pip install -r docs/requirements.txt
  - export DOC_VERSION=$(cat docs/version.txt)
  - echo "Document Version:" $DOC_VERSION
  script:
  - git config --global user.name $GITLAB_USER_NAME
  ...

lint-openapi:
  stage: generate-openapi-docs-html
  image: python:3.9.13-slim
  before_script:
  - pip install openapi-spec-validator
  script:
  - openapi-spec-validator openapi.json
  needs:
  - job: get-api-spec

render-html:
  stage: generate-openapi-docs-html
  image: node:lts-alpine3.19
  before_script:
  - npm i -g @redocly/cli@latest
  script:
  - redocly build-docs openapi.json --output=docs.html
  needs:
  - job: lint-openapi
    artifacts: false
  - job: get-api-spec
  artifacts:
    paths:
    - '*.html'

deploy-api-docs:
  image: python:3.9.17-buster
  stage: generate-openapi-docs-html
  before_script:
  - git config --global user.email $GITLAB_USER_EMAIL
  - git config --global user.name $GITLAB_USER_NAME
  script:
  - export DOCUMENT=$(ls | grep '\.html$')
  - git clone $CI_REPOSITORY_URL
  - cd $CI_PROJECT_NAME
  ...

check-trigger:
  stage: generate-openapi-docs-html
  trigger:
    include:
    - artifact: generated-config.yml
      job: deploy-api-docs
  needs:
  - job: deploy-api-docs

FIX: add mkdocs with gitlab pipeline (add generate openapi html job)
  .gitlab-ci.yml
Due: none

FIX: add mkdocs with gitlab pipeline (add generate openapi html job)
  .gitlab/ci/Openapi.gitlab-ci.yml
Due: none

DOCS: add gunicorn, docker mkdocs
  docs/docs/guide/docker.md
  docs/docs/guide/gunicorn.md
  docs/mkdocs.yml
Due: test-mkdocs, pages

REFACTOR: schemas structure
  app/api/examples/__init__.py
  app/api/examples/ape.py
  app/api/examples/prompt.py
  app/api/routers/ape.py
  app/api/routers/prompt.py
  app/schemas/ape.py
  app/schemas/prompt.py
  app/src/ape/ape.py
  app/src/prompt/auto_cot.py
  app/src/prompt/cot.py
  app/src/prompt/default.py
  app/src/prompt/react.py
  app/src/prompt/self_consistency.py
  tests/src/prompt/test_react.py
Due: lint-openapi, render-html, deploy-api-docs, check-trigger

FEAT: add pre-commit, add pre-commit mkdocs
  .pre-commit-config.yaml
  .secrets.baseline
  docs/docs/guide/pre-commit.md
  docs/mkdocs.yml
Due: test-mkdocs, pages

DOCS: change site name to 'Wise Prompt'
  docs/mkdocs.yml
Due: test-mkdocs, pages

FEAT: tag larger runner setting at test and build-and-push stage (refactoring src for ci test)
  .gitlab/ci/Build-and-Push-App.gitlab-ci.yml
  .gitlab/ci/Test.gitlab-ci.yml
  app/src/ape/ape.py
  app/src/ape/config/__init__.py
  app/src/ape/config/config.py
  app/src/ape/config/template.py
Due: lint-openapi, render-html, deploy-api-docs, check-trigger

TSET: pass pyright
  app/src/ape/ape.py
Due: lint-openapi, render-html, deploy-api-docs, check-trigger

FEAT: tag medium gitlab runner at lint stage
  .gitlab/ci/Lint.gitlab-ci.yml
Due: none

FEAT: medium gitlab runner settings at poetry install dependency job
  .gitlab/ci/Dependency-Management.gitlab-ci.yml
  .gitlab/ci/Lint.gitlab-ci.yml
  .gitlab/ci/Test.gitlab-ci.yml
  app/schemas/response.py
Due: lint-openapi, render-html, deploy-api-docs, check-trigger

UPDATE docs.html
  docs/docs/api/docs.html
Due: test-mkdocs, pages

FEAT: Remove GitLab Files (update .gitignore)
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/Build-and-Push-App.gitlab-ci.yml
  .gitlab/ci/Container-Scanning.gitlab-ci.yml
  .gitlab/ci/Dependency-Management.gitlab-ci.yml
  .gitlab/ci/Lint.gitlab-ci.yml
  .gitlab/ci/Mkdocs.gitlab-ci.yml
  .gitlab/ci/Openapi-Docs.gitlab-ci.yml
  .gitlab/ci/Openapi.gitlab-ci.yml
  .gitlab/ci/Secret-Detection.gitlab-ci.yml
  .gitlab/ci/Test.gitlab-ci.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Default.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Feature.md
  .gitlab/issue_templates/Hotfix.md
  .gitlab/issue_templates/Refactoring.md
  dev.Dockerfile
  docs/Dockerfile
  docs/docs/api/docs.html
  docs/docs/guide/docker.md
  docs/docs/guide/gunicorn.md
  docs/docs/guide/pre-commit.md
  docs/docs/guide/secret-detection.md
  docs/docs/images/create-from-template.png
  docs/docs/images/fastapi-use-template.png
  docs/docs/images/quick-start-guide.gif
  docs/docs/images/wisenut_icon.ico
  docs/docs/images/wisenut_logo.png
  docs/docs/index.md
  docs/docs/start/getting-started.md
  docs/docs/start/quick-start.md
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/requirements.txt
  docs/version.txt
  gunicorn.Dockerfile
Due: test-mkdocs, pages

Path conditions:
  test-mkdocs: (not (any of: app/**/*)) and (any of: docs/**/*)
  pages: (not (any of: app/**/*)) and (any of: docs/**/*)
  lint-openapi: any of: app/**/*
  render-html: any of: app/**/*
  deploy-api-docs: any of: app/**/*
  check-trigger: any of: app/**/*
